:root {
    --main-bg-color: #05251b;
    /*    --accent-green: #13a577;*/
    --accent-green: #1d795c;
    --accent-blue: #218b99;
    --accent-orange: #ed5b24;
    --accent-white: #f2f2f2;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--accent-white);
    z-index: -2;
}

#intro {
    display: flex;
    height: 100%;
}

#introWords {
    width: 50%;
    height: 100%;
    padding: 5%;
    display: flex;
    align-content: space-between;
    color: var(--accent-white);
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-end;
    /*    border-right: 10px solid var(--accent-white);*/
}

#introPic {
    width: 50%;
    height: 100%;
    background-image: url(img/profpic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    justify-content: center;
}

.introWrapper:nth-child(1) {
    background-color: var(--accent-green);
}

.introWrapper:nth-child(2) {
    background-color: var(--accent-blue);
}

.introWrapper:nth-child(3) {
    background-color: var(--accent-orange);
}

.introWrapper {
    /*    background-color: rgba(128, 128, 128, 0.5);*/
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#navBar {
    background-color: var(--accent-white);
    height: 100px;
    display: flex;
    flex-direction: column;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.sticky + main {
    padding-top: 100px;
}

#navLinksWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.navLinks {
    list-style-type: none;
    /*    width: 450px;*/
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks > li {
    display: inline-block;
    cursor: pointer;
    color: var(--accent-green);
    width: 150px;
    text-align: center;
}

.navLinks > li:nth-child(2) {
    color: var(--accent-blue);
}

.navLinks > li:nth-child(3) {
    color: var(--accent-orange);
}

#sectionUnderline {
    width: 150px;
    /*    margin-right: 300px;*/
    transition: 0.3s ease-in;
    height: 5px;
    align-self: flex-end;
}

.highlightAbout {
    margin-right: 300px;
    background-color: var(--accent-green);

}

.highlightProjects {
    margin-right: 150px;
    background-color: var(--accent-blue);
}

.highlightContact {
    margin-right: 0px;
    background-color: var(--accent-orange);
}

main {
    width: 100%;
    margin-top: 50px;
}

.textSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    /*    height: auto !important;*/
}

.textWrapper {
    width: 80%;
}

.sectionHeader {
    padding: 20px 10px 20px 10px;
    margin-bottom: 100px;
    color: var(--accent-white);
}

#aboutHeader {
    background-color: var(--accent-green);

}

#projectHeader {
    background-color: var(--accent-blue);
}

#contactHeader {
    background-color: var(--accent-orange);
}

#projectSection {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.projectRow {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 20px;
}

.project {
    width: 400px;
    height: 400px;
}

#beerBelly {
    background-image: url(img/beerBelly.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: var(--accent-green);
}

#pantry {
    background-image: url(img/pantry.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: var(--accent-blue);
}

#react {
    background-color: var(--accent-orange);
    color: black;
    font-size: 8em;
    position: relative;

}

.fontawesomeWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#random {
    background-color: var(--accent-white);
    color: black;
    text-align: center;
    position: relative;
}

.randomWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contact {
    min-height: 100vh;
}

#contactLinkRow {
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

.contactLink {
    /*    text-align: center;*/
    width: 30%;
}


a:visited,
a:link {
    color: var(--accent-white);
    text-decoration: none;
}

.contactLink a i {
    font-size: 2em;
}

#contact .textWrapper {
    text-align: center;
}

.spacer {
    height: 50px;
}


/*----------------MEDIA QUERY----------------*/
@media screen and (max-width: 1020px) {
    .project {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 785px) {
    .projectRow {
        display: block;
        margin-bottom: 0;
    }

    .project {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    #intro {
        flex-direction: column;
    }

    #introWords {
        width: 100%;
        height: 50%;
        border-bottom: 5px solid var(--accent-white);
    }

    #introPic {
        width: 100%;
        height: 50%;
    }

    .introWrapper {
        padding: 0px;
        font-size: .8em;
    }

    nav {
        margin-bottom: 50px;
    }


    .navLinks {
        padding-left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }


    .navLinks > li {
        margin-left: 0px;
    }

    #contactLinkRow {
        flex-direction: column;
    }

    .contactLink {
        width: 100%;
    }
}

/*----------------ANIMATIONS----------------*/

.introWrapper {
    transform: translateX(-200%);
}

.loaded > .introWrapper:nth-child(1) {
    animation: slideInFromLeft 1s cubic-bezier(.32, .14, .57, 1.1) 0s forwards;
}

.loaded > .introWrapper:nth-child(2) {
    animation: slideInFromLeft 1s cubic-bezier(.32, .14, .57, 1.3) 1s forwards;
}

.loaded > .introWrapper:nth-child(3) {
    animation: slideInFromLeft 1s cubic-bezier(.32, .14, .57, 1.5) 2s forwards;

}

@keyframes slideInFromLeft {
    100% {
        transform: translateX(0);
    }
}
