:root {
  --main-bg-color: #05251b;
  /*    --accent-green: #13a577;*/
  --accent-green: #1d795c;
  --accent-blue: #218b99;
  --accent-orange: #ed5b24;
  --accent-white: #f2f2f2;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--accent-white);
  z-index: -2;
}

#intro {
  display: flex;
  height: 100%;
}

#introWords {
  width: 50%;
  height: 100%;
  padding: 5%;
  display: flex;
  align-content: space-between;
  color: var(--accent-white);
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end;
  /*    border-right: 10px solid var(--accent-white);*/
}

#introPic {
  width: 50%;
  height: 100%;
  background-image: url(img/profpic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
  justify-content: center;
}

.introWrapper:nth-child(1) {
  background-color: var(--accent-green);
}

.introWrapper:nth-child(2) {
  background-color: var(--accent-blue);
}

.introWrapper:nth-child(3) {
  background-color: var(--accent-orange);
}

.introWrapper {
  /*    background-color: rgba(128, 128, 128, 0.5);*/
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#navBar {
  background-color: var(--accent-white);
  height: 100px;
  display: flex;
  flex-direction: column;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.sticky + main {
  padding-top: 100px;
}

#navLinksWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.navLinks {
  list-style-type: none;
  /*    width: 450px;*/
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks > li {
  display: inline-block;
  cursor: pointer;
  color: var(--accent-green);
  width: 150px;
  text-align: center;
}

.navLinks > li:nth-child(2) {
  color: var(--accent-blue);
}

.navLinks > li:nth-child(3) {
  color: var(--accent-orange);
}

#sectionUnderline {
  width: 150px;
  /*    margin-right: 300px;*/
  transition: 0.3s ease-in;
  height: 5px;
  align-self: flex-end;
}

.highlightAbout {
  margin-right: 300px;
  background-color: var(--accent-green);
}

.highlightProjects {
  margin-right: 150px;
  background-color: var(--accent-blue);
}

.highlightContact {
  margin-right: 0px;
  background-color: var(--accent-orange);
}

main {
  width: 100%;
  margin-top: 50px;
}

.textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  /*    height: auto !important;*/
}

.textWrapper {
  width: 80%;
}

.sectionHeader {
  padding: 20px 10px 20px 10px;
  margin-bottom: 100px;
  color: var(--accent-white);
}

#aboutHeader {
  background-color: var(--accent-green);
}

#projectHeader {
  background-color: var(--accent-blue);
}

#contactHeader {
  background-color: var(--accent-orange);
  width: 80%;
}

#projectSection {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.projectRow {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  margin-top: 20px;
}

.project {
  width: 400px;
  height: 400px;
}

.project:hover {
  cursor: pointer;
}

#northOrSouth {
  background-image: url(img/northOrSouth.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  background-color: var(--accent-green);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.modal:target {
  display: block;
}

.modal-content {
  background-color: #000000;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

.close {
  color: #aaaaaa;
  position: relative;
  left: 47%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--accent-orange);
  text-decoration: none;
  cursor: pointer;
}

#pantry {
  background-image: url(img/pantry.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: var(--accent-blue);
}

#react {
  background-color: var(--accent-orange);
  color: black;
  position: relative;
  text-align: center;
}

.fab {
  font-size: 3em;
}

.fa-desktop {
  font-size: 2.5em;
  margin-left: 50px;
}

.fa-react {
  font-size: 7em;
}

.projectDescriptionWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#reactNative {
  background-color: var(--accent-white);
  color: black;
  text-align: center;
  position: relative;
}

#septaView {
  background-color: var(--accent-green);
  background-image: url(img/septa-view-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20em;
  color: black;
  text-align: center;
  position: relative;
}

#phlask {
  background-image: url(img/phlask-text-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: var(--accent-blue);
}

#contact {
  min-height: 50vh;
}

#contactLinkRow {
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

.contactLink {
  width: 30%;
}

a:visited,
a:link {
  color: var(--accent-white);
  text-decoration: none;
}

.contactLink a i {
  font-size: 2em;
}

.contact {
  text-align: center;
}

/*----------------MEDIA QUERY----------------*/
@media screen and (max-width: 1020px) {
  .project,
  .modalButton {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 785px) {
  .projectRow {
    display: block;
    margin-bottom: 0;
  }

  .project {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  #intro {
    flex-direction: column;
  }

  #introWords {
    width: 100%;
    height: 50%;
    border-bottom: 5px solid var(--accent-white);
  }

  #introPic {
    width: 100%;
    height: 50%;
  }

  .introWrapper {
    padding: 0px;
    font-size: 0.8em;
  }

  nav {
    margin-bottom: 50px;
    padding: 10px;
  }

  .navLinks {
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navLinks > li {
    margin-left: 0px;
  }

  #sectionUnderline {
    width: 33%;
  }

  .highlightAbout {
    margin-right: 66.666%;
  }

  .highlightProjects {
    margin-right: 33.333%;
  }

  #contactLinkRow {
    flex-direction: column;
  }

  .contactLink {
    width: 100%;
  }

  .fa-react {
    font-size: 5em;
  }

  #phlask {
    background-size: 250px;
  }

  .project {
    padding: 5px;
  }
}

/*----------------ANIMATIONS----------------*/

.introWrapper {
  transform: translateX(-200%);
}

.loaded > .introWrapper:nth-child(1) {
  animation: slideInFromLeft 1s cubic-bezier(0.32, 0.14, 0.57, 1.1) 0s forwards;
}

.loaded > .introWrapper:nth-child(2) {
  animation: slideInFromLeft 1s cubic-bezier(0.32, 0.14, 0.57, 1.3) 1s forwards;
}

.loaded > .introWrapper:nth-child(3) {
  animation: slideInFromLeft 1s cubic-bezier(0.32, 0.14, 0.57, 1.5) 2s forwards;
}

@keyframes slideInFromLeft {
  100% {
    transform: translateX(0);
  }
}
